body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  nav {
    background-color: #0742e2;
    color: #fff;
    padding: 10px;

    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

  main {
    padding: 20px;
  }

  h1,
  h2 {
    color: #333;
  }

  .product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
  }

  .product-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
  }

  .product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .product-title {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }

  .product-description {
    margin: 5px 0;
    color: #666;
  }
  .cart-button {
    background-color: #e91212;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .cart-button:hover {
    background-color: #218838;
  }
  .product-price {
    font-size: 1.1em;
    color: #333;
    margin: 10px 0;
}
.load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #0056b3;
}

.load-more-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}